*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

h1 {
  margin-top: 10px;
}

#container {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
}

.color-box {
  background-color: pink;
}
